*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.post-container{
  background-color: #fffafa;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

body{
  background-color: aliceblue;
}

h1{
  font-family: 'Montserrat';
  margin: 30px;
}

.date{
  font-family: 'Roboto';
  color: #008080;
  margin: 30px;
}

.post-content{
  font-family: 'Open Sans';
  margin: 30px;
}


